.item {
  max-width: 300px;
  min-width: 300px;
  background: #ffffff;
  border-radius: 18px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.item img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 12px;
}

.item h3 {
  font-size: 16px;
  margin: 8px 0;
}

.item span {
  display: block;
  font-weight: bold;
  margin-bottom: 12px;
}

.item button {
  border: none;
  background: #5e2b97;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom:5px;
}
