.items-list {
    max-width: 1100px;
    min-width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
}

@media (max-width: 1024px) {
  .items-list {
    justify-content: center;
  }
}

@media (min-width: 1025px) {
  .items-list {
    justify-content: space-between;
  }
}
