.navbar {
  width: 100%;
  max-width: 1100px;
  background: #ffffff;
  border-radius: 24px;
  margin: 32px 0;
  padding: 32px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.logo {
  width: 140px;
  margin-bottom: 16px;
  border-radius:100px;
}

.description {
  font-size: 16px;
  color: #3d3d3d;
  margin-bottom: 24px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.categories button {
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  background: #ece9f2;
  cursor: pointer;
  font-weight: 500;
}

.categories button.active {
  background: #5e2b97;
  color: #fff;
}

